<h1>List of tasks</h1>

<% @tasks.each do |task| %>
<ul>
  <li>
    <%= check_box_tag(task.title, value=task.completed, checked=task.completed, options = {disabled: true}) %>
    <%= link_to task.title, task_path(task) %> -
    <%= link_to task_path(task), method: :delete,data: { confirm: "Are you sure?" } do %><i class="far fa-trash-alt"></i>
    <% end %>

    </li>
</ul>
<% end %>
<%= link_to root_path, class: "btn btn-default" do %>
    <i class="fas fa-plus"></i> Create a new task
<% end %>


