<h1>
<%= @task.title %>
</h1>

<h3><%= @task.details %></h3>
<br>
<br>
<%= link_to root_path, class: "btn btn-default" do %>
    <i class="far fa-caret-square-left"></i> Back to task list
<% end %>
<br>
<br>
<%= link_to edit_path, class: "btn btn-default" do %>
    <i class="fas fa-edit"></i> Edit this task
<% end %>


